# Entorno virtual
.venv/
venv/
env/

# Variables de entorno
.env

# Variables de entorno
.docs
docs/.*
docs/
docs/*
# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg

# Modelos descargados por PaddleOCR (~/.paddleocr en Linux o local)
.paddleocr/
inference/

# Logs
*.log
logs/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db
